/csc-376/matrix_multiplication/build/
/csc-376/matrix_multiplication/dist/
/csc-376/convert_binary_to_base_10/dist/
/csc-376/convert_binary_to_base_10/build/
/csc-376/convert_base10_to-binary/build/
/csc-376/convert_base10_to-binary/dist/
/csc-376/assignment_week_2_3/build/
/csc-376/assignment_week_2_3/dist/
/csc-376/CppApplication_1/build/
/csc-376/CppApplication_1/dist/
/csc-376/chapter3_assignment_1/build/
/csc-376/chapter3_assignment_1/dist/
/csc-388/ClosestDifference/nbproject/private/
/csc-388/ClosestDifference/build/
/csc-388/CppApplication_2/build/
/csc-388/CppApplication_2/dist/
/csc-388/JavaApplication26/nbproject/private/
/csc-376/week10-labs/detecting_code_errors/build/
/csc-376/week10-labs/detecting_code_errors/dist/
/csc-376/week10-labs/cache_similation/build/
/csc-376/week10-labs/cache_similation/dist/
/csc-376/pep8MidTerm/build/
/csc-376/pep8MidTerm/dist/
/csc-376/CppApplication_2/build/
/csc-376/CppApplication_2/dist/